<link rel="stylesheet" href="../static/supprimer.css">
    <title>Document</title>
</head>
<body>
    <section class="sectionG  ">
        <div class="section1 flex-col space-around">
          {% include './header.html'%}
          <div class="sec2 flex-row space-around">
              
                  {%include './nav.html'%} 
              
              <div class="sec2-2 flex-col space-around">
                  {%block centre%}

                  {%endblock%}
              </div>
                  </div>
                  </div>
                  </section>
</body>
</html>