!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/zoro1.css">
    <link rel="stylesheet" href="../static/initialize.css">
    <link rel="stylesheet" href="../static/modif.css">
    <link rel="stylesheet" href="../static/modifier.css">
    <link rel="stylesheet" href="../static/sup.css">
    <link rel="stylesheet" href="../static/supprimer.css">
    <link rel="stylesheet" href="">
    <title>zoro1</title>
</head>
<body>
    <section class="sectionG">
        <div class="section1 flex-col space-around">
          <div class="sec1 flex space-center">
          <h2>ZORO</h2>
          </div>
          <div class="identif flex space-center">
               <div class="bloc flex-col space-bet">
                <form action="/accueil/" class="form flex-col space-bet">
                  <div class="bloc1  flex space-center">Connectez vous</div>
                  <div class="bloc2 flex space-center">
                    <input class="b1" type="text" placeholder="identifiant...">
                  </div>
                  <div class="bloc3 flex space-center">
                    <input  class="b1" type="text" placeholder="mot de pass...">
                  </div>
                  <div class="bloc4 flex space-center">
                    <input type="submit" class="BOUT">
                  </div>
                  <div class="bloc5 flex space-center">
                    <small><a href="#" class="lien">Si pas de compte Inscrivez vous</a> </small>
                  </div>
                </form>
                 
               </div>
          </div>
        </div>


    </section>
</body>
</html>